body {
    padding: 10px;
    font-family: sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-section {
    display: flex;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bid-form {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.button-margin {
    margin-top: 1rem;
}
.form {
    width: 50%;
}

.listing-container {
    display: flex;
    border: .5px solid black;
    height: 15rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.home-page-image {
    height: 200px;
    width: 200px;
    margin-left: 3rem;
}

.listing-page-image {
    height: 250px;
    width: 300px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-page-listing-info {
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.created-at {
    margin-bottom: 1rem;
    font-size: .8rem;
}

.listing-wrapper {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.bid {
    font-size: 2rem;
    margin-top: .5rem;
}

.bids-span {
    font-size: .8rem;
}

.listing-details-section {
    display: flex;
    flex-direction: column;
}

.add-to-watchlist-button {
    border: none;
    background: gray;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    font-size: .8rem;
    margin-left: 1rem;
    margin-bottom: .2rem;
    height: 1.5rem;
    width: 10rem;
   
}

.add-to-watchlist-button:hover {
    color: black;
}

.comment-form {
    height: 5rem !important;
}

.comment-container {
    border: .5px solid lightgray;
    border-radius: 5px;
    height: 4rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-author {
    font-size: .75rem;
}

.close-listing {
    background: red;
    color: white;
    font-size: .85rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    margin-left: 1rem;
    height: 1.5rem;
    width: 10rem;
}

.close-listing:hover {
    color: black;
}