body {
    padding: 10px;
    font-family: sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bid-form {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.bid-button {
    margin-top: 1rem;
}
.form {
    width: 50%;
}

.listing-container {
    display: flex;
    border: .5px solid black;
    height: 15rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.home-page-image {
    height: 200px;
    width: 200px;
    margin-left: 3rem;
}

.listing-page-image {
    height: 250px;
    width: 300px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-page-listing-info {
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.created-at {
    margin-bottom: 1rem;
    font-size: .8rem;
}

.listing-wrapper {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.bid {
    font-size: 2rem;
    margin-top: .5rem;
}

.bids-span {
    font-size: .8rem;
}

.listing-details-section {
    display: flex;
    flex-direction: column;
}