{% extends "auctions/layout.html" %}

{% block body %}

<div class="page-wrapper">
    <h1>New Listing</h1>

    <span>{{ message }}</span>

    <form class="form" action="{% url 'commerce:new' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <select name="category" class="form-control">
                <option value="" disabled selected>Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}  
            </select>
        </p>
        <p>
            <input class="btn btn-primary" value="Create Listing" type="submit">
        </p>
    </form>
</div>
 
{% endblock %}